@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*    Reset CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111;
  color: #fff;
}
a {
  outline: 0;
  text-decoration: none;
  color: #bbb;
}
img {
  border: 0;
}

/* ========== Main Background Style ========== */
.bg {
  width: 100%;
  height: 100%;
  background: url("../img/bgLine.png");
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 1; /* z-index 숫자가 더  높을수록 위에있음. 근데 position이 static 이면 적용이 잘 안됨! */
}

/* ========== Entire Wrap Style ========== */
.Wrap {
  width: 100%; /* flex 사용할때 height, width 꼭 설정해주기 !!!!!!!!! */
  height: 100%;
  position: fixed;
  z-index: 100;
}

/* ========== Header (Logo, SNS) Style ========== */
header {
  height: 30%;
  width: 100%;
}

h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -200px; */
}

h1 > img {
  width: 400px;
}

.iconWrap {
  opacity: 0.5;
  font-size: 25px;
  position: absolute;
  right: 3%;
  top: 50px;
}

.iconWrap > a {
  margin-left: 6px;
}

/* ========== Section Style ========== */
section {
  _margin-top: 250px;
  display: flex;
  align-items: center;
  height: 40%;
  width: 100%;
  overflow: hidden;
}

section > .sectionImg {
  height: 100%;
  width: 100%;
}

section > .sectionImg > img {
  width: 100%;
}

.sectionNavWrap {
  position: absolute;
  background: #111;
  width: 100%;
  height: 50px;
  opacity: 0.8;
}

.nav {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav > li {
  position: relative;
  font-size: 12px;
  text-align: center;
  perspective: 700px;
}

.nav a {
  display: block;
  width: 200px;
  transition: all 0.5s ease;
  /* opacity: 0.8; */
}

.nav > li:hover > a {
  transform: translateY(-20px);
  opacity: 0;
}
.nav > li:hover .thumbImg {
  _display: block;
  opacity: 1;
  visibility: visible;
  transform: rotateY(360deg);
}

/* ========== Section Nav ThumbImg Style ========== */
.nav .thumbImg {
  _display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #000;
  width: 100%;
  height: 300px;
  top: -108px;
  transition: all 0.5s ease;
  /* border: 1px solid #000; */
}

.nav .thumbImg p {
  padding: 10px;
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.nav .thumbImg img {
  border: 1px solid #333;
  width: 100%;
}

.nav .thumbImg h2 {
  width: 100%;
  height: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .thumbImg li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(51, 51, 51, 0.767);
  transition: all 0.4s ease;
}
.nav .thumbImg li:hover {
  background: #444;
}
.nav .thumbImg a {
  color: #666;
}
.nav .thumbImg li:hover a {
  color: white;
}

/* ========== Footer Style ========== */

footer {
  position: fixed;
  bottom: 0;
  background: #010101;
  width: 100%;
  height: 30px;
  border-top: 0.7px solid #222;
  font-size: 11px;
}

.footer_nav {
  height: 100%;
  width: 800px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer_nav > li {
  width: 110px;
}
.footer_nav a {
  color: #666;
}

.footer_nav > li:nth-child(1),
.footer_nav > li:nth-child(2) {
  font-weight: 900;
}

footer > span {
  position: absolute;
  right: 12px;
  top: 9px;
  font-size: 10px;
  color: #666;
  letter-spacing: 1px;
}
